{% extends 'base.html' %}
{% block content %}
<div class="mt-5 row justify-content-center text-center">
    <div class="col-md-6 col-12 card login-card">
        <div class="card-body">
            <h5 class="card-title">Login to partyfy</h5>
            <p class="card-text">You will be redirected to spotify.</p>

            <div class="">
                <a name="spotify" id="spotify-login" class="btn" href="{{login_href}}" role="button"
                    style="background-color:#1DB954;">Login</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}